body {
    background-color: #EAEAEA;
}

.container {
    max-width: 1110px;
}

.container-fluid {
    padding: 0;
}

.bg-nav {
    background-color: #EAEAEA !important; /* Использовал !important для того, чтобы перебить цвет, встроенный в bootstrap*/
}

.logo-name {
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-collapse {
    flex-grow: 0; /*Поставил 0 для того, чтобы выровнять элементы в шапке по краям*/
}

.header-icons {
    width: 120px;
    display: flex;
}

.header-icon {
    width: min-content;
}

.cart-header {
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

/* Стили для карточек товара*/
.items-list {
    margin-top: 13px;
}

.item-card {
    padding: 18px;
    width: 630px;
    height: 220px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    transition: all .5s;
    margin: 20px 0;
}

.item-card:hover {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}
.item-data {
    display: flex;
}

.item-img {
    width: 145px;
    height: 135px;
}

.img-and-count {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 23px;
}

.minus-btn,
.plus-btn {
    width: 30px;
    height: 30px;
}

.counter-tools {
    display: flex;
    justify-content: space-around;
}

.item-count {
    font-size: 17px;
    font-weight: 600;
}

.item-title-and-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-price {
    margin-top: 12px;
    color: #AAAAAA;
}

.current-price-and-discount {
    display: flex;
    justify-content: space-between;
}

.discount {
    color: red;
}

.old-price {
    margin: 0;
    font-size: 13px;
    text-decoration: line-through;
}

.trash-and-total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.trash-icon {
    width: 20px;
    height: 20px;
}

.minus-btn,
.plus-btn,
.trash-icon:hover {
    cursor: pointer;
}

.total {
    width: 350px;
    min-height: 120px;
    height: min-content;
    background-color: #fff;
    margin-top: 35px;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.total-data {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.go-to-purchase {
    width: 350px;
    height: 65px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #101010;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    transition: transform .3s;
    font-size: 17px;
    border-style: none;
}

.go-to-purchase:hover {
    transform: scale(1.05);
}

/*Стили для подвала и его элементов*/
.footer {
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    padding: 30px 27px;
    display: flex;
    justify-content: space-between;
}

.sections-and-language {
    display: flex;
    width: 427px;
    justify-content: space-between;
}

.sections-and-language a {
    text-decoration: none;
    color: #000;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-column a {
    transition: color .3s;
}

.left-column a:hover {
    color: #FFA542;
}

.change-language {
    display: flex;
    margin-top: 34px;
    width: 111px;
    justify-content: space-between;
}

.change-lang .russian { /* Такая конструкция для большей спецефичности, а то 138 строка перекрывает и делает текст чёрным */
    color: #FFA542;
}

.change-lang .russian,
.change-lang .english {
    transition: color .3s;
}

.change-lang .russian:hover,
.change-lang .english:hover {
    color: #FFA542;
}

.social {
    width: 126px;
    display: flex;
    justify-content: space-between;
}

.social a {
    height: min-content;
}

/*Конструкция для того, чтобы подвал всегда был прижат к низу экрана*/

html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
main {
  padding-bottom: 100px;
  /*Высота футера*/
}
footer {
  /* margin-top: -149px; */
  /*Минус Высота футера*/
  height: 149px;
  /*Высота футера*/
}

/*Конструкция для того, чтобы подвал всегда был прижат к низу экрана*/