body {
    background-color: #EAEAEA;
}

.container {
    max-width: 1110px;
}

.container-fluid {
    padding: 0;
}

.bg-nav {
    background-color: #EAEAEA !important; /* Использовал !important для того, чтобы перебить цвет, встроенный в bootstrap*/
}

.logo-name {
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-collapse {
    flex-grow: 0; /*Поставил 0 для того, чтобы выровнять элементы в шапке по краям*/
}

.header-icons {
    width: 120px;
    display: flex;
}

.header-icon {
    width: min-content;
}

.cart-header {
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

/*Стили для подвала и его элементов*/
.footer {
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    padding: 30px 27px;
    display: flex;
    justify-content: space-between;
}

.sections-and-language {
    display: flex;
    width: 427px;
    justify-content: space-between;
}

.sections-and-language a {
    text-decoration: none;
    color: #000;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-column a {
    transition: color .3s;
}

.left-column a:hover {
    color: #FFA542;
}

.change-language {
    display: flex;
    margin-top: 34px;
    width: 111px;
    justify-content: space-between;
}

.change-lang .russian { /* Такая конструкция для большей спецефичности, а то 138 строка перекрывает и делает текст чёрным */
    color: #FFA542;
}

.change-lang .russian,
.change-lang .english {
    transition: color .3s;
}

.change-lang .russian:hover,
.change-lang .english:hover {
    color: #FFA542;
}

.social {
    width: 126px;
    display: flex;
    justify-content: space-between;
}

.social a {
    height: min-content;
}

/*Конструкция для того, чтобы подвал всегда был прижат к низу экрана*/

html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
main {
  padding-bottom: 100px;
  /*Высота футера*/
}
footer {
  margin-top: -149px;
  /*Минус Высота футера*/
  height: 149px;
  /*Высота футера*/
}

/*Конструкция для того, чтобы подвал всегда был прижат к низу экрана*/