* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EAEAEA;
}

.container {
    max-width: 1110px;
}

.container-fluid {
    padding: 0;
}

.bg-nav {
    background-color: #EAEAEA !important; /* Использовал !important для того, чтобы перебить цвет, встроенный в bootstrap*/
}

.logo-name {
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-collapse {
    flex-grow: 0; /*Поставил 0 для того, чтобы выровнять элементы в шапке по краям*/
}

.header-icons {
    width: 120px;
    display: flex;
}

.header-icon {
    width: min-content;
}

.cart,
.favorites {
    position: relative;
}

.cart-circle,
.favorites-circle {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #FFA542;
    color: #fff;
    border-radius: 50%;
    top: 3px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили для контейнера "наушники" */
.item-section-header {
    color: #838383;
    font-weight: 600;
    font-size: 20px;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 350px;
    height: 407px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 15px 0;
    border-radius: 30px;
    display: flex;
    padding: 20px;
    font-weight: 600;
    transition: all .5s;
    font-family: 'Montserrat', sans-serif;
}

.card:hover {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}

.item-img {
    width: 220px;
    margin: 0 auto;
}

.card-body {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.card-body * {
    font-size: 17px;
}

.item-title {
    margin-bottom: 25px;
}

.item-rating {
    display: flex;
}

.item-rating-text {
    margin-left: 10px;
    color: #838383;
}

.item-price {
    color: #FFA542;
}

.item-buy:hover {
    cursor: pointer;
}

.item-current-price {
    font-size: 17px;
}

.item-old-price {
    font-size: 13px;
    text-decoration: line-through;
}

.item-img {
    height: 237px;
}

.item-buy {
    margin-top: 16px;
    font-weight: 600;
    text-align: right;
}

.buy-link {
    color: #000;
    text-decoration: none;
}

.buy-link:hover {
    color: #000;
}

.price-with-discount {
    display: flex;
    width: 110px;
    justify-content: space-between;
    color: #DF6464;
}

.headphones-in-case { /* Создал отдельный класс для того, чтобы выровнять элементы в карточках с насушниками в кейсе (изображение намного меньше, чем в других */
    margin-top: 56px;
}

/*Стили для подвала и его элементов*/
.footer {
    background-color: #fff;
    
    border-radius: 30px 30px 0 0;
    padding: 30px 27px;
    display: flex;
    justify-content: space-between;
}

.sections-and-language {
    display: flex;
    width: 427px;
    justify-content: space-between;
}

.sections-and-language a {
    text-decoration: none;
    color: #000;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-column a {
    transition: color .3s;
}

.left-column a:hover {
    color: #FFA542;
}

.change-language {
    display: flex;
    margin-top: 34px;
    width: 111px;
    justify-content: space-between;
}

.change-lang .russian { /* Такая конструкция для большей спецефичности, а то 138 строка перекрывает и делает текст чёрным */
    color: #FFA542;
}

.change-lang .russian,
.change-lang .english {
    transition: color .3s;
}

.change-lang .russian:hover,
.change-lang .english:hover {
    color: #FFA542;
}

.social {
    width: 126px;
    display: flex;
    justify-content: space-between;
}

.social a {
    height: min-content;
}

/*Конструкция для того, чтобы подвал всегда был прижат к низу экрана*/

html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
main {
  padding-bottom: 100px;
  /*Высота футера*/
}
footer {
  /* margin-top: -149px; */
  /*Минус Высота футера*/
  height: 149px;
  /*Высота футера*/
}

/*Конструкция для того, чтобы подвал всегда был прижат к низу экрана*/